body {
  font-family: sans-serif;
  margin: 0;
}

h1 {
  margin: 0;
}

table {
  background-color: rgb(220, 220, 220);
  width: 100%;
  border-spacing: 0;
  border: 2px solid rgb(124, 124, 124);
}

thead {
  background-color: rgb(186, 186, 186);
}

th {
  padding: 4px;
}

td {
  text-align: center;
  padding: 8px;
  border: 1px solid rgb(124, 124, 124);
}

button {
  cursor: pointer;
}

button:active {
  opacity: 0.6;
}

input {
  padding: 5px;
  border-radius: 20px;
}

th:not(:last-child):hover {
 background-color: rgb(151, 150, 150);
 cursor: pointer;
}

th:not(:last-child):active {
 background-color: rgb(107, 107, 107);
 cursor: pointer;
}

.add-btn {
  border-radius: 15px;
}

.warehouse {
  padding: 0 80px;
}

.head {
  padding: 40px 0 0 0;
  display: flex;
  justify-content: space-around;
  margin: 0 0 20px 0;
}

.block {
  padding: 40px 0 0 0;
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  margin: 0 0 20px 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: rgb(220, 220, 220);
  border-radius: 15px;
  width: 300px;
  margin: 0 0 20px 0;
}

.button {
  width: fit-content;
  width: 300px;
  padding: 5px;
  border-radius: 15px;
}

.loader {
  --color-1: #000;
  --color-2: #ff3d00;
  --size: 1px;

  width: calc(48 * var(--size));
  height: calc(48 * var(--size));
  border: calc(3 * var(--size)) solid var(--color-1);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(56 * var(--size));
  height: calc(56 * var(--size));
  border-radius: 50%;
  border: calc(3 * var(--size)) solid transparent;
  border-bottom-color: var(--color-2);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}